.app {
  text-align: center;
}

.app-logo {
  height: 120px;
}

.app-header {
  background-color: rgb(151, 181, 226);
  height: 150px;
  padding: 20px;
  color: black;
}

.app-title {
  font-size: 3em;
  display: inline;
  margin-left: 10px;
}

.powered-logo {
  margin-top: 60px;
  height: 80px;
}

.content {
  width: 70%;
  margin: auto;
  font-size: large;
}

.row {
  margin-top: 20px;
}
